<!-- モーダル -->
<div class="modal fade" id="modal-post-new" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <%= form_with model: Post.new, url: posts_path, local: true do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <div class="modal-body">
          <%= f.text_area :body, rows: 3, placeholder: "ここに投稿内容を入力してください。\n最大100文字まで", class: 'border-0 form-control', id: 'post-body' %>
          <div class="d-flex justify-content-end text-secondary">
            <span id="char-count">0/100</span>
          </div>
          <div>
            <div class="d-flex justify-content-end">
              <span class="cancel-icon btn" style="display: none;" onclick="cancelImagePreview()">
                <i class="fa fa-times-circle fa-lg text-danger"></i>
              </span>
            </div>
            <div id="image-preview"></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-light text-dark rounded-circle border-0">
            <span onClick="$('input.post_image').click()">
              <i class="fa fa-image fa-lg" id="select-image"></i>
            </span>
            <%= f.file_field :image, class: "post_image img_field", id: "image-file-field", style: "display: none;" %>
          </button>
          <%= f.submit '投稿する', class: "btn btn-outline-primary" %>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  function cancelImagePreview() {
    $('#image-preview').html(''); // 画像プレビューを削除
    $('.cancel-icon').hide(); // 取り消しのボタンを非表示
    $('.img_field').val(''); // ファイル選択の値をクリア
  }
  // 画像プレビューの表示
  $(function() {
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
          var img = new Image();
          img.src = e.target.result;
          img.onload = function() {
            var maxWidth = 400;
            var maxHeight = 300;
            var width = img.width;
            var height = img.height;

            if (width > maxWidth || height > maxHeight) {
              if (width / height > maxWidth / maxHeight) {
                width = maxWidth;
                height = Math.round(maxWidth * img.height / img.width);
              } else {
                height = maxHeight;
                width = Math.round(maxHeight * img.width / img.height);
              }
            }

            $('#image-preview').html('<img src="' + e.target.result + '" class="img_prev" style="width: ' + width + 'px; height: ' + height + 'px;">');
            $('.cancel-icon').show(); // 画像プレビューが表示された際に取り消しのボタンを表示
          };
        }
        reader.readAsDataURL(input.files[0]);
      }
    }

    // 取り消しのボタンがクリックされたときに画像プレビューを削除
    $(document).on('click', '.cancel-icon', function() {
      cancelImagePreview();
    });

    $(document).on('change', '.img_field', function(){
      readURL(this);
    });
  });

  // 文字数のカウントの表示
  $(document).ready(function() {
    const textArea = document.getElementById("post-body");
    const charCount = document.getElementById("char-count");
  
    // 初期表示時に文字数をカウントして反映
    const initialLength = textArea.value.length;
    charCount.textContent = initialLength + "/100";
  
    textArea.addEventListener("input", function() {
      countCharacters();
    });
  
    function countCharacters() {
      const maxLength = 100;
      const currentLength = textArea.value.length;
      const remainingLength = maxLength - currentLength;
  
      charCount.textContent = currentLength + "/" + maxLength;
  
      if (remainingLength < 0) {
        charCount.style.color = "red";
      } else {
        charCount.style.color = "inherit";
      }
    }
  });
</script>