<div class="container">
  <div class="row">
    <div class="col-3">
      <%= render 'layouts/info' %>
    </div>
    <div class="col-6 border-left border-right border-dark">
      <div class="posts-scroll" style="overflow-y: scroll; height: 500px;">
        <%= render 'index', posts: @posts %>
      </div>
    </div>
    <div class="col-3">
      <div class="d-flex">
        <div class="text-center">
          <%= image_tag current_user.get_profile_image, class: "rounded-circle border", size: '50x50' %>
        </div>
        <div class="d-flex align-items-center font-weight-bold">
          <%= current_user.name %>
        </div>
      </div>
      <div>
        <div class="d-flex justify-content-between">
          <div>
            Lv.<%= current_user.level %>
          </div>
          <div>
            次のレベルまで残り：
            <%= points_to_next_level(current_user).to_i %>
          </div>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="<%= experience_percentage(current_user) %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= experience_percentage(current_user) %>"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  //無限スクロール
  $(window).on('resize', function() {
    adjustContainerHeight();
    $('.posts-scroll').jscroll('destroy'); // jscrollを一時的に無効化
    $('.posts-scroll').jscroll({
      contentSelector: '.scroll-list',
      nextSelector: 'span.next:last a',
      loadingHtml: '<div class="text-center"><i class="fas fa-spinner fa-spin"></i> Loading...</div>',
      callback: function() {
        setHoverBackgroundColor(); // 新しい要素が読み込まれた後に背景色を適用
      }
    });
    setHoverBackgroundColor(); // 最初の要素にも背景色を適用
  });
  
  $(document).ready(function() {
    adjustContainerHeight();
    setHoverBackgroundColor(); // 最初の要素に背景色を適用
    $('.posts-scroll').jscroll({
      contentSelector: '.scroll-list',
      nextSelector: 'span.next:last a',
      loadingHtml: '<div class="text-center"><i class="fas fa-spinner fa-spin"></i> Loading...</div>',
      callback: function() {
        setHoverBackgroundColor(); // 新しい要素が読み込まれた後に背景色を適用
      }
    });
  });
  
  function adjustContainerHeight() {
    var windowHeight = $(window).height();
    var containerHeight = windowHeight - $('.posts-scroll').offset().top;
    $('.posts-scroll').css('height', containerHeight + 'px');
  }

  // マウスオーバー時の背景色を設定する関数
  function setHoverBackgroundColor() {
    $('.post-item').hover(
      function() {
        $(this).css('background-color', 'rgba(192, 192, 192, 0.1)');
      },
      function() {
        $(this).css('background-color', '');
      }
    );
  }
</script>