<div class="comment-section" style="overflow-y: scroll; max-height: 400px;">
  <% post.comments.each do |comment| %>
    <div class="d-flex m-2">
      <div class="m-2">
        <div>
          <%= image_tag comment.user.get_profile_image, class: "rounded-circle border", size: '50x50' %>
        </div>
      </div>
      <div class="flex-grow-1">
        <div class="d-flex small">
          <%= link_to user_path(comment.user), class: "text-dark" do %>
            <%= comment.user.name %>
            @<%= comment.user.account_name %>
          <% end %>
        </div>
        <div class="says p-3">
          <p>
            <%= comment.body %>
          </p>
          <div class="d-flex justify-content-end">
            <div class="mr-2">
              <%= l comment.created_at %>
            </div>
            <% if comment.user == current_user %>
              <div>
                <%= link_to post_comment_path(comment.post, comment), method: :delete, remote: true, data: { confirm: '本当に消しますか？' }, class: "text-danger" do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>