<div class="container">
  <div class="row row flex-nowrap">
    <%= render 'layouts/info' %>
    <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10 col-10 d-flex flex-column">
      <%= render 'public/users/profile', user: @user %>
      <% if can_view_profile?(current_user, @user) %>
        <div class="d-flex justify-content-around m-2">
          <%= link_to user_path(@user), class:'flex-fill text-center text-dark text-decoration-none btn btn-outline-light border-0 mt-3 pt-3' do %>
            <div>
              投稿
            </div>
          <% end %>
          <%= link_to user_likes_path(@user), class:'flex-fill text-center text-dark text-decoration-none btn btn-outline-light border-0 mt-3 pt-3' do %>
            <div>
              いいね 
            </div>
          <% end %>
          <%= link_to user_followings_path(@user), class:'flex-fill text-center text-dark text-decoration-none btn btn-outline-light border-0 mt-3 pt-3' do %>
            <dvi>
              フォロー中
            </dvi>
          <% end %>
          <div class="flex-fill text-center border-bottom border-5 border-primary mt-3 pt-3">
            フォロワー
          </div>
        </div>
        <div class="users-scroll" style="overflow-y: scroll; height: 500px;">
          <%= render 'public/users/index', users: @users %>
        </div>
      <% else %>
        <div class="text-center">
          <div>
            <%= @user.name %>の投稿はフォローしないと見れません。
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    adjustContainerHeight();
    setHoverBackgroundColor(); // 最初の要素に背景色を適用
    $('.users-scroll').jscroll({
      contentSelector: '.scroll-list',
      nextSelector: 'span.next:last a',
      loadingHtml: '<div class="text-center"><i class="fas fa-spinner fa-spin"></i> Loading...</div>',
      callback: function() {
        setHoverBackgroundColor(); // 新しい要素が読み込まれた後に背景色を適用
      }
    });
  });

  // コンテナの高さを調整する関数
  function adjustContainerHeight() {
    var windowHeight = $(window).height();
    var $usersScroll = $('.users-scroll'); // キャッシュして参照
    var containerHeight = windowHeight - $usersScroll.offset().top;
    $usersScroll.css('height', containerHeight + 'px');
  }

  // マウスオーバー時の背景色を設定する関数
  function setHoverBackgroundColor() {
    $('.user-item').hover(
      function() {
        $(this).css('background-color', 'rgba(192, 192, 192, 0.1)');
      },
      function() {
        $(this).css('background-color', '');
      }
    );
  }
</script>
