<div>
  <div class="text-center about mt-3">
    <div class="h3 text-white m-0">
      NiceWork<span class="h5">とは</span>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center mt-2">
          同じ目標を持つ仲間たちとつながり、共通の目標に向かって励まし合い、アドバイスを交換することができるSNSサイトです。
        </div>
      </div>
      <div class="d-flex flex-wrap justify-content-center">
          <%= image_tag 'step1.png', size: '300x300' %>
          <%= image_tag 'step2.png', size: '300x300' %>
          <%= image_tag 'step3.png', size: '300x300' %>
          <%= image_tag 'step4.png', size: '300x300' %>
          <%= image_tag 'step5.png', size: '300x300' %>
          <%= image_tag 'step6.png', size: '300x300' %>
      </div>
    </div>
  </div>
</div>