<% if @unread_notifications.exists? %>
  <div class="scroll-list jscroll">
    <% unread_notifications.each do |notification| %>
    <div class="scroll-item form-inline border-bottom p-3">
      <div class="d-flex justify-content-center flex-wrap">
        <div class="d-flex align-items-center">
          <%= image_tag notification.visitor.get_profile_image, class: "rounded-circle border m-1", size: '40x40' %>
          <%= link_to user_path(notification.visitor), class: "site-color" do %>
            <strong>
              <%= notification.visitor.name %>
            </strong>
          <% end %>
          が
        </div>
        <div class="d-flex align-items-center">
          <% case notification.action %>
            <% when 0 %>
              あなたをフォローしました
            <% when 1 %>
              <%= link_to 'あなたの投稿', notification.post, class: "font-weight-bold site-color" %>
              にいいねしました
            <% when 2 %>
              <% if notification.post.user_id == notification.visited.id %>
                <%= link_to "あなたの投稿", notification.post, class: "font-weight-bold site-color" %>
              <% else %>
                <span>
                  <%= link_to post_path(notification.post), class: "font-weight-bold site-color" do %>
                    <strong><%= notification.post.user.name %></strong>さんの投稿
                  <% end %>
                  </span>
              <% end %>
              にコメントしました
              <p class="text-muted mb-0">
                <%= Comment.find_by(id: notification.comment_id)&.committed! %>
              </p>
          <% else %>
              unknown action: <%= notification.action %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
    <%= paginate unread_notifications %>
  </div>
<% else %>
  <div class="text-center">
    <p>通知はありません</p>
  </div>
<% end %>
