<div class="container">
  <div class="row flex-nowrap">
    <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10 col-10 d-flex flex-column mx-auto">
      <div class="m-2">
        <%= link_to admin_posts_path, class: "text-dark h4" do %>
          <i class="fa fa-arrow-left"></i>
          投稿一覧
        <% end %>
      </div>
      <div class="border p-2 m-1 post-item border border-dark rounded">
        <div class="d-flex">
          <div class="text-center m-1">
            <%= image_tag @post.user.get_profile_image, class: "rounded-circle border", size: '50x50' %>
            <br>
            Lv.<%= @post.user.level %>
          </div>
          <%= link_to admin_user_path(@post.user.id), class: 'd-flex align-items-center justify-content-center text-dark' do %>
            <div class="d-flex">
              <div class="d-flex align-items-end text-dark h4 m-0">
                <%= @post.user.name %>
              </div>
              <div class="d-flex align-items-end text-muted ml-2">
                @<%= @post.user.account_name %>
              </div>
            </div>
          <% end %>
          <div class="ml-auto p-2 bd-highlight">
            <button class="btn border-0 rounded-circle">
              <%= link_to admin_post_path(@post), method: :delete, remote: true, data: { confirm: '本当に消しますか？' }, class: "text-danger" do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </button>
          </div>
        </div>
        <div style="word-wrap: break-word;">
          <div>
            <%= @post.body %>
            <br>
            <% if @post.image.attached? %>
              <%= image_tag @post.image, class: "img-fluid" %>
            <% end %>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center bd-highlight">
          <div class="bd-highlight p-2">
            <i class="far fa-thumbs-up text-secondary"></i>
            <%= @post.count_valid_likes %>
          </div>
          <div class="bd-highlight p-2">
            <i class="far fa-comment"></i>
            <%= @post.comments.count %>
          </div>
          <div class="ml-auto p-2 bd-highlight">
            <%= l @post.created_at %>
          </div>
        </div>
      </div>
      <div>
        <%= render 'admin/comments/comment', post: @post %>
      </div>
    </div>
  </div>
</div>