<div class="container">
  <div class="row row flex-nowrap">
    <%= render 'layouts/info' %>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10 col-12 d-flex flex-column">
      <%= render 'form' %>
      <div class="d-flex mb-2">
        <div class="flex-fill text-center btn btn-outline-light border-0 text-dark" onclick="submitForm('post-form')">
          <%= form_with url: search_path, local: true, method: :get, id: 'post-form' do |f| %>
            <%= f.hidden_field :word, value: @word %>
            <%= f.hidden_field :f, value: "post" %>
            <%= f.submit "検索", style: 'display: none' %>
          <% end %>
          <div class="post-submit-content">投稿</div>
        </div>
        <div class="flex-fill text-center btn btn-outline-light border-0 text-dark" onclick="submitForm('user-form')">
          <%= form_with url: search_path, local: true, method: :get, id: 'user-form' do |f| %>
            <%= f.hidden_field :word, value: @word %>
            <%= f.hidden_field :f, value: "user" %>
            <%= f.submit "検索", style: 'display: none' %>
            <div class="user-submit-content">ユーザー</div>
          <% end %>
        </div>
      </div>
      <div>
        <% if params[:f] == 'post' %>
          <div class="items-scroll" style="overflow-y: scroll; height: 500px;">
            <%= render 'public/posts/index', posts: @posts %>
          </div>
        <% elsif params[:f] == 'user' %>
          <div class="items-scroll" style="overflow-y: scroll; height: 500px;">
            <%= render 'public/users/index', users: @users %>
          </div>
        <% else %>
          <div class="items-scroll" style="overflow-y: scroll; height: 500px;">
            <div class="text-center m-2">
              気になるワードを検索しよう!
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
    function submitForm(formId) {
    document.getElementById(formId).submit();
  }
</script>
<%= javascript_include_tag 'scroll' %>