<div class="container">
  <div class="row">
    <div class="mx-auto">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>アカウント名</th>
            <th>ニックネーム</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr class="users-index-tr" data-href="users/<%= user.id %>">
              <td>
                <%= user.account_name %>
              </td>
              <td>
                <%= user.name %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<%= link_to "ホーム", admin_users_path %>
<%= link_to "posts", admin_posts_path %>
<!--テーブルの行全体をリンクにしている-->
<script>
  jQuery(document).on("turbolinks:load", function() {
  $(".users-index-tr").on('click', function() {
      window.location = $(this).data("href");
  });
});
</script>