<div class="container">
  <div class="row">
    <div class="mx-auto">
      <table>
        <tbody>
          <tr>
            <td>
              ニックネーム<span>アカウント名</span>
            </td>
            <td>
              <%= @user.name %><span><%= @user.account_name %></span>
            </td>
          </tr>
          <tr>
            <td>氏名</td>
            <td>
              <%= @user.full_name %>
            </td>
          </tr>
          <tr>
            <td>レベル</td>
            <td>
              <%= @user.level %>
            </td>
          </tr>
          <tr>
            <td>経験値</td>
            <td>
              <%= @user.experience_point %>
            </td>
          </tr>
          <tr>
            <td>
              公開・非公開
            </td>
            <td>
              <%= @user.is_disclose ? '公開中' : '非公開' %>
            </td>
          </tr>
          <tr>
            <td>
              会員ステータス
            </td>
            <td>
              <%= @user.is_deleted ? '利用停止' : '利用可能'%>
            </td>
          </tr>
        </tbody>
      </table>
      <%= link_to '編集する', edit_admin_user_path(@user.id) %>
    </div>
  </div>
</div>