<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h2>編集</h2>
      <%= form_with model: @user, url: user_path(@user),method: :patch, local: true do |f| %>
        <div class="form-group">
          <table class="table table-borderless">
            <thead>
              <tr class="text-center">
                <th class="image-container" colspan="5">
                  <%= image_tag @user.get_profile_image, size: '100x100', class: "img_prev rounded-circle" %>
                  <span class="camera-icon rounded-circle", onClick= "$('.img_field').click()">
                    <i class="fa fa-camera-rotate"></i>
                  </span>
                  <%= f.file_field :profile_image, class: "img_field", style: 'display:none;' %>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>アカウント名</td>
                <td></td>
                <td>
                  <%= f.text_field :account_name %>
                </td>
              </tr>
              <tr>
                <td>ニックネーム</td>
                <td></td>
                <td>
                  <%= f.text_field :name %>
                </td>
              </tr>
              <tr>
                <td>氏名（非公開）</td>
                <td>姓</td>
                <td>
                  <%= f.text_field :first_name %>
                </td>
                <td>名</td>
                <td>
                  <%= f.text_field :last_name %>
                </td>
              </tr>
              <tr>
                <td>自己紹介</td>
                <td></td>
                <td>
                  <%= f.text_area :introduction %>
                </td>
              </tr>
              <tr>
                <td>メールアドレス</td>
                <td></td>
                <td>
                  <%= f.email_field :email %>
                </td>
              </tr>
              <tr>
                <td>ステータス</td>
                <td></td>
                <td>
                  <%= f.radio_button :status, "open", class: "form-check-input" %>
                  <%= f.label :status_open, class: "form-check-label" do %>
                    公開
                  <% end %>
                </td>
                <td>
                  <%= f.radio_button :status, "closed", class: "form-check-input" %>
                  <%= f.label :status_closed, class: "form-check-label" do %>
                    非公開
                  <% end %>
                </td>
              </tr>
            </tbody>
          </table>
          <%= f.submit '変更する' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!--プロフィール画像をクリックして画像を差し替える -->
<script>
  $(function() {
  function readURL(input) {
      if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
  $('.img_prev').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
      }
  }
  $(document).on('change', '.img_field', function(){
    readURL(this);
  });
});
</script>