<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h2>Sign up</h2>
      <%= form_with model: @user, url: user_path(@user),method: :patch, local: true do |f| %>
        <div class="form-group">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>アカウント名</td>
                <td></td>
                <td>
                  <%= f.text_field :account_name %>
                </td>
              </tr>
              <tr>
                <td>ニックネーム</td>
                <td></td>
                <td>
                  <%= f.text_field :name %>
                </td>
              </tr>
              <tr>
                <td>氏名（非公開）</td>
                <td>姓</td>
                <td>
                  <%= f.text_field :first_name %>
                </td>
                <td>名</td>
                <td>
                  <%= f.text_field :last_name %>
                </td>
              </tr>
              <tr>
                <td>メールアドレス</td>
                <td></td>
                <td>
                  <%= f.email_field :email %>
                </td>
              </tr>
            </tbody>
          </table>
          <%= f.submit '変更する' %>
        </div>
      <% end %>
    </div>
  </div>
</div>