<div class="container">
  <div class="row row flex-nowrap">
    <%= render 'layouts/info' %>
    <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10 col-10 d-flex flex-column">
      <%= render 'public/users/profile', user: @user %>
      <% if can_view_profile?(current_user, @user) %>
        <%= render 'public/users/tab', user: @user %>
        <div class="items-scroll" style="overflow-y: scroll; height: 500px;">
          <%= render 'public/posts/index', posts: @posts %>
        </div>
      <% else %>
        <div class="text-center">
          <div>
            <%= @user.name %>の投稿はフォローしないと見れません。
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'scroll' %>