<div class="container">
  <div class="row">
    <div class="mx-auto">
      <div class="d-flex bd-highlight">
        <div class="text-center">
          <%= image_tag @user.get_profile_image, size: '100x100', class: "rounded-circle" %>
          <br>
          Lv. <%= @user.level %>
        </div>
        <div class="d-flex align-items-end h3 ml-2 mb-4">
          <%= @user.name %>
        </div>
        <div class="d-flex align-items-end text-muted ml-2 mb-4">
          <%= @user.account_name %>
        </div>
        <dvi class="ml-auto p-2 bd-highlight">
          <% if @user.status == 'open' %>
            <i class="fa fa-lock-open"></i>
          <% else %>
            <i class="fa fa-lock"></i>
          <% end %>
        </dvi>
      </div>
      <div>
        自己紹介
        <br>
        <%= @user.introduction %>
      </div>
      <div class="d-flex justify-content-around">
        <div>
          <%= link_to user_followings_path(@user) do %>
            フォロー中 <%= @user.followings.count %>
          <% end %>
        </div>
        <div>
          <%= link_to user_followers_path(@user) do %>
            フォロワー <%= @user.followers.count %>
          <% end %>
        </div>
      </div>
      <div>
        <% if @user == current_user %>
          <!-- モーダル表示のためのボタン -->
          <button class="btn btn-primary" data-toggle="modal" data-target="#modal-user-edit">
            編集
          </button>
          <%= render 'edit', user: @user %>
        <% else %>
          <% if current_user.following?(@user) %>
            <%= link_to "フォロー外す", user_relationships_path(@user), method: :delete, class: "btn btn-primary" %>
          <% else %>
            <%= link_to "フォローする", user_relationships_path(@user), method: :post, class: "btn btn-success" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>