<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
      <div class="d-flex bd-highlight">
        <div class="text-center">
          <%= image_tag @user.get_profile_image, size: '100x100', class: "rounded-circle" %>
          <br>
          Lv. <%= @user.level %>
        </div>
        <div class="d-flex align-items-end h3 ml-2 mb-4">
          <%= @user.name %>
        </div>
        <div class="d-flex align-items-end text-muted ml-2 mb-4">
          <%= @user.account_name %>
        </div>
        <dvi class="ml-auto p-2 bd-highlight">
          <% if @user == current_user %>
            <!-- モーダル表示のためのボタン -->
            <button class="btn btn-primary" data-toggle="modal" data-target="#modal-user-edit">
              編集
            </button>
            <%= render 'edit', user: @user %>
          <% else %>
            <% if current_user.following?(@user) %>
              <%= link_to "フォロー中", user_relationships_path(@user), method: :delete, class: "btn btn-primary" %>
            <% else %>
              <%= link_to "フォローする", user_relationships_path(@user), method: :post, class: "btn btn-success" %>
            <% end %>
          <% end %>
        </dvi>
      </div>
      <div>
        自己紹介
        <br>
        <%= @user.introduction %>
      </div>
      <div class="d-flex justify-content-around">
        <div>
          <%= link_to user_followings_path(@user) do %>
            フォロー中 <%= @user.followings.count %>
          <% end %>
        </div>
        <div>
          <%= link_to user_followers_path(@user) do %>
            フォロワー <%= @user.followers.count %>
          <% end %>
        </div>
      </div>
      <% if can_view_profile?(current_user, @user) %>
        <div>
          <ul class="list-group list-group-horizontal" id="tab-menu">
            <li class="list-group-item list-group-item-action text-center"><a href="#tab1" class="active nav-link">投稿</a></li>
            <li class="list-group-item list-group-item-action text-center"><a href="#tab2" class="nav-link">いいね</a></li>
          </ul>
          
          <div id="tab-contents">
            <div id="tab1" class="tab">
              <div class="posts-list" style="overflow-y: scroll; height: 500px;">
                <%= render 'public/posts/index', posts: @posts, list_class: 'post-list' %>
              </div>
            </div>
          
            <div id="tab2" class="tab">
              <div class="favorite-list" style="overflow-y: scroll; height: 500px;">
                <%= render 'public/posts/favorited-list', visible_favorite_posts: @visible_favorite_posts, list_class: 'favorite-list' %>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="text-center">
          <div>
            <%= @user.name %>の投稿はフォローしないと見れません。
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<script>
  //タブで表示切り替え
  $('#tab-contents .tab[id != "tab1"]').hide();
  
  $('#tab-menu a').on('click', function(event) {
    $("#tab-contents .tab").hide();
    $("#tab-menu .active").removeClass("active");
    $(this).addClass("active");
    $($(this).attr("href")).show();
    event.preventDefault();
  });

  //自分の投稿無限スクロール
  $(window).on('resize', function() {
    adjustContainerHeight();
    $('.posts-list').jscroll('destroy'); // jscrollを一時的に無効化
    $('.posts-list').jscroll({
      contentSelector: '.scroll-list',
      nextSelector: 'span.next:last a',
      loadingHtml: '<div class="text-center"><i class="fas fa-spinner fa-spin"></i> Loading...</div>'
    });
  });
  
  $(document).ready(function() {
    adjustContainerHeight();
    $('.posts-list').jscroll({
      contentSelector: '.scroll-list',
      nextSelector: 'span.next:last a',
      loadingHtml: '<div class="text-center"><i class="fas fa-spinner fa-spin"></i> Loading...</div>'
    });
  });
  
  function adjustContainerHeight() {
    var windowHeight = $(window).height();
    var containerHeight = windowHeight - $('.posts-list').offset().top;
    $('.posts-list').css('height', containerHeight + 'px');
  }
  
  //いいねした投稿無限スクロール
  $(window).on('resize', function() {
    adjustContainerHeight();
    $('.favorite-list').jscroll('destroy'); // jscrollを一時的に無効化
    $('.favorite-list').jscroll({
      contentSelector: '.scroll-list',
      nextSelector: 'span.next:last a',
      loadingHtml: '<div class="text-center"><i class="fas fa-spinner fa-spin"></i> Loading...</div>'
    });
  });
  
  $(document).ready(function() {
    adjustContainerHeight();
    $('.favorite-list').jscroll({
      contentSelector: '.scroll-list',
      nextSelector: 'span.next:last a',
      loadingHtml: '<div class="text-center"><i class="fas fa-spinner fa-spin"></i> Loading...</div>'
    });
  });
  
  function adjustContainerHeight() {
    var windowHeight = $(window).height();
    var containerHeight = windowHeight - $('.favorite-list').offset().top;
    $('.favorite-list').css('height', containerHeight + 'px');
  }
</script>
