<div class="container">
  <div class="row">
    <div class="mx-auto">
      <table>
        <tbody>
          <tr>
            <td>
              ニックネーム<span>アカウント名</span>
            </td>
            <td>
              <%= @user.name %><span><%= @user.account_name %></span>
            </td>
          </tr>
          <% if @user == current_user %>
            <tr>
              <td>氏名</td>
              <td>
                <%= @user.full_name %>
              </td>
            </tr>
          <% end %>
          <tr>
            <td>レベル</td>
            <td>
              <%= @user.level %>
            </td>
          </tr>
          <tr>
            <td>経験値</td>
            <td>
              <%= @user.experience_point %>
            </td>
          </tr>
          <tr>
            <td>ステータス</td>
            <td>
              <% if @user.status == 'open' %>
                公開
              <% else %>
                非公開
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
      <% if @user == current_user %>
        <%= link_to '編集する', edit_user_path(@user) %>
      <% else %>
        <% if current_user.following?(@user) %>
          <%= link_to "フォロー外す", user_relationships_path(@user), method: :delete, class: "btn btn-primary" %>
        <% else %>
          <%= link_to "フォローする", user_relationships_path(@user), method: :post, class: "btn btn-success" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>