<!DOCTYPE html>
<html>
  <head>
    <title>NiceWork</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:success] %>
      <div id="flash" class="alert alert-success text-center">
        <%= flash[:success] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div id="flash" class="alert alert-danger text-center">
        <%= flash[:alert] %>
      </div>
    <% end %>
    <%= yield %>
    <script>
      $(document).ready(function() {
        // アラートが存在する場合に処理を実行
        if ($('#flash').length > 0) {
          // アラートを表示してから3秒後に上にスライドアウトさせる
          $('#flash').slideDown().delay(3000).slideUp(1000);
        }
      });
    </script>
  </body>
</html>
